# ==============================
# NODE.JS & REACT (Frontend/Backend)
# ==============================
node_modules/
build/
dist/
.env

# ==============================
# ARDUINO / ESP32 (Hardware)
# ==============================
# Arquivos de segredos
secrets.h

# Arquivos temporários e de compilação da Arduino IDE
*.bin
*.elf
*.hex
*.lst

# ==============================
# SISTEMA E IDEs
# ==============================
.vscode/
.DS_Store
Thumbs.db